body {
  background: url('../img/blackjack.jpg');
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

h1 {
  color: #821828;
  font-family: 'Sail', cursive;  
  font-size: 110px;
  text-align: center;
  margin-top: -10px;
}
h2 {
  font-size: 40px;
  /*text-align: center;*/
  color: #A72430;
}

.card {
  float: left;
  border: solid 1px black;
  border-bottom: solid 2px black;
  width: 120px;
  border-radius: 5px;
  height: 167px;
  margin-right: 20px;
}

.covered {
  background-color: black;
  background-image: url('../img/card-back.png');
}

.covered img{ 
  /*background-color: black;*/
  background-image: url('../img/card-back.png');
  height: 167px;
  width: 120px;
  visibility: hidden;
}

.container {
  background: rgba(204,242,205,.9);
  border-radius: 40px;
  margin-top: 80px;
  padding: 50px;
  padding-top: 20px;
  position: relative;
}

.player-hand-container {
  width: 45%;
  float: left;
  margin: 0 auto;
}

.dealer-hand-container {
  width: 45%;
  float: right;
}

.buttons .btn {
  margin-top: 30px;
  display: inline-block;
  background: #821828;
  color: white;
  border-color: #A72430;
}

.alert {
  width: 200px;
}

